media type / content type / MIME type for .eln

Hello. Have you considered registering a media type / content type / MIME type for .eln?

My understanding is that it involves listing your format here: http://www.iana.org/assignments/media-types/media-types.xhtml

You're right, this is something we need to do. I'll take care of it.

Your application has been submitted and added to the processing queue. The ticket number assigned to your request and a copy of your application have been sent to your email account for your records.

You should hear from a staff member within 1-2 business days.

Requests to add entries to "First Come First Served" registries are typically completed within one week, if no additional information or outside consultation is required. Requests to add entries to "Expert Review" and "Specification Required" registries are forwarded to IESG-designated registry experts (volunteers not employed by IANA) for review. Reviews may be completed within a few days or several weeks, depending on variables that can include request complexity and reviewer availability.

For more information on registration procedures, please see Section 4 of [RFC 8126](https://www.iana.org/go/rfc8126).

If you don't receive an automated response with a copy of your application, please contact us at iana@iana.org.

That was much faster than what I expected!

https://www.iana.org/assignments/media-types/application/vnd.eln+zip

And implemented in https://github.com/juliabase/juliabase/commit/81bfdff34275b14d92de7d550376bdca58f02dfa. :smile: